<span class="title">Your possible interests:</span>
<br>
<% @interests.each do |interest| %>
  <div class="card" style="width: 18rem;">
    <%= image_tag interest.image, class: 'card-img-top' %>
    <div class="card-body">
      <h5 class="card-title"><%= interest.name %></h5>
      <p class="card-text"><%= truncate interest.description %></p>
      <%= link_to 'Detail', interest, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
