<div class="row">
  <div class="col-4">
    <%= render 'interests' %>
  </div>
  <div class="col-4">
    <%= render 'hindrances' %>
  </div>
  <div class="col-4">
    <%= render 'excuses' %>
  </div>
</div>
