span.title {
  font-weight: bold;
}
button.button-to-link {
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
  margin-right: 10px;
}
a.nav-link {
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
  }
}
.yield {
  background-color: #999900;
  color: white;
}
